@model AssessmentMVC.Models.QuestionTag

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to remove all Tagging for Question Code: @Html.ValueFor(model => model.QuestionMaster.QuestionCode)  ?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { QuestionId = Model.QuestionID })       
        </div>
    }
</div>
