@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
<!--Java script reference files for google charts-->
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script>
    //initilize globar variable for hold chart data
    google.load("visualization", "1", { packages: ["corechart"] });
</script>
<script type="text/javascript">
    //google.load("visualization", "1", { packages: ["corechart"] });
    //google.setOnLoadCallback(drawChart('JsonResult'));
    var chartData1;
    var chartData2;
    var chartData3;
    var chartData4;
    var chartData5;
    // get the chart data from the server.
    $(document).ready(function () {
        $.ajax({            
                url: $("#myUrl").val() + "GetCompetencyWiseScores",
                type: "GET",
                //data: { userId: $('#userId').val() },
                data: { userId: $("#userId").val(), schoolId: $("#schoolId").val(), classId: $("#classId").val(), sectionId: $("#sectionId").val(), subjectId: $("#subjectId").val() },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    chartData1 = data.FirstList;
                    chartData2 = data.SecondList;
                    chartData3 = data.ThirdList;
                    chartData4 = data.FourthList;
                    chartData5 = data.FifthList;

                    //First Chart
                    var data = new google.visualization.DataTable();
                    //Adding columns to data table to insert the chart data
                    data.addColumn('string', 'Competency');
                    data.addColumn('number', 'Percentage');
                    //bind the data to the data table using for loop
                    var Competency = 'N/A';
                    var p = 0;
                    for (var i = 0; i < chartData1.length; i++) {
                        data.addRow([chartData1[i].Description, chartData1[i].Percentage]);
                        Competency = chartData1[i].Description;
                        p = p + chartData1[i].Percentage;
                    }
                    data.addRow(['', 100-p]);

                    // Instantiate and draw our chart, passing in some options
                    var chart = new google.visualization.PieChart($('#chartC1')[0]);
                    chart.draw(data,
                          {
                              title: Competency + " (" + p + "%)", //title of the pie chart
                              position: "top", fontsize: "14px", pieHole: 0.8, legend: 'none', chma: '1,1,1,1' ,
                              chartArea: { width: '90%' }, pieSliceText: "none"
                          });

                    ////Second Chart
                    var data = new google.visualization.DataTable();
                    //Adding columns to data table to insert the chart data
                    data.addColumn('string', 'Competency');
                    data.addColumn('number', 'Percentage');
                    //bind the data to the data table using for loop
                    var Competency = 'N/A';
                    var p = 0;
                    for (var i = 0; i < chartData2.length; i++) {
                        data.addRow([chartData2[i].Description, chartData2[i].Percentage]);
                        Competency = chartData2[i].Description;
                        p = p + chartData2[i].Percentage;
                    }
                    data.addRow(['', 100 - p]);

                    // Instantiate and draw our chart, passing in some options
                    var chart = new google.visualization.PieChart($('#chartC2')[0]);
                    chart.draw(data,
                          {
                              title: Competency + " (" + p + "%)", //title of the pie chart
                              position: "top", fontsize: "14px", pieHole: 0.8, legend: 'none', chma: '1,1,1,1',
                              chartArea: { width: '90%' }, pieSliceText: "none"
                          });

                    ////Third Chart
                    var data = new google.visualization.DataTable();
                    //Adding columns to data table to insert the chart data
                    data.addColumn('string', 'Competency');
                    data.addColumn('number', 'Percentage');
                    //bind the data to the data table using for loop
                    var Competency = 'N/A';
                    var p = 0;
                    for (var i = 0; i < chartData3.length; i++) {
                        data.addRow([chartData3[i].Description, chartData3[i].Percentage]);
                        Competency = chartData3[i].Description;
                        p = p + chartData3[i].Percentage;
                    }
                    data.addRow(['', 100 - p]);

                    // Instantiate and draw our chart, passing in some options
                    var chart = new google.visualization.PieChart($('#chartC3')[0]);
                    chart.draw(data,
                          {
                              title: Competency + " (" + p + "%)", //title of the pie chart
                              position: "top", fontsize: "14px", pieHole: 0.8, legend: 'none', chma: '1,1,1,1',
                              chartArea: { width: '90%' }, pieSliceText: "none"
                          });

                    ////Fourth Chart
                    var data = new google.visualization.DataTable();
                    //Adding columns to data table to insert the chart data
                    data.addColumn('string', 'Competency');
                    data.addColumn('number', 'Percentage');
                    //bind the data to the data table using for loop
                    var Competency = 'N/A';
                    var p = 0;
                    for (var i = 0; i < chartData4.length; i++) {
                        data.addRow([chartData4[i].Description, chartData4[i].Percentage]);
                        Competency = chartData4[i].Description;
                        p = p + chartData4[i].Percentage;
                    }
                    data.addRow(['', 100 - p]);

                    // Instantiate and draw our chart, passing in some options
                    var chart = new google.visualization.PieChart($('#chartC4')[0]);
                    chart.draw(data,
                          {
                              title: Competency + " (" + p + "%)", //title of the pie chart
                              position: "top", fontsize: "14px", pieHole: 0.8, legend: 'none', chma: '1,1,1,1',
                              chartArea: { width: '90%' }, pieSliceText: "none"
                          });

                    ////Third Chart
                    var data = new google.visualization.DataTable();
                    //Adding columns to data table to insert the chart data
                    data.addColumn('string', 'Competency');
                    data.addColumn('number', 'Percentage');
                    //bind the data to the data table using for loop
                    var Competency = 'N/A';
                    var p = 0;
                    for (var i = 0; i < chartData5.length; i++) {
                        data.addRow([chartData5[i].Description, chartData5[i].Percentage]);
                        Competency = chartData5[i].Description;
                        p = p + chartData5[i].Percentage;
                    }
                    data.addRow(['', 100 - p]);

                    // Instantiate and draw our chart, passing in some options
                    var chart = new google.visualization.PieChart($('#chartC5')[0]);
                    chart.draw(data,
                          {
                              title: Competency + " (" + p + "%)", //title of the pie chart
                              position: "top", fontsize: "14px", pieHole: 0.8, legend: 'none', chma: '1,1,1,1',
                              chartArea: { width: '90%' }, pieSliceText: "none"
                          });

                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            });
    });
</script>
<table style="background-color:darkblue; color:white;" width="100%">
    <tr><td colspan="4">COMPETENCY LEVEL BASED SCORES</td></tr>
    <tr>
        <td width="20%"><div id="chartC1" /></td>
        <td width="20%"><div id="chartC2" /></td>
        <td width="20%"><div id="chartC3" /></td>
        <td width="20%"><div id="chartC4" /></td>
        <td width="20%"><div id="chartC5" /></td>
    </tr>
</table>